<section class="scorecard-container hide">
  <article class="scorecard-detail">
    <div class="scorecard-dimension scorecard-dimension-bhn">
      <div class="scorecard-dimension-header">
        <span class="scorecard-dimension-header-label">score/ value</span>
        <span class="scorecard-dimension-header-label">rank</span>
        <span class="scorecard-dimension-header-label">strength/ weakness</span>
      </div>
      <div class="scorecard-dimension-values">
        <span class="scorecard-dimension-value-name">Basic Human Needs</span>
        <span class="detail--data-score detail--score-card-dimension-value"
          >96.89</span
        >
        <span class="scorecard-dimension-value">6</span>
        <span
          class="detail--score-card-dimension-value detail--score-card-dimension-value__measurer detail--measurer"
        >
        </span>
      </div>
    </div>
  </article>
  <article class="scorecard-detail">
    <div class="scorecard-dimension scorecard-dimension-bhn">
      <div class="scorecard-dimension-header">
        <span class="scorecard-dimension-header-label">score/ value</span>
        <span class="scorecard-dimension-header-label">rank</span>
        <span class="scorecard-dimension-header-label">strength/ weakness</span>
      </div>
      <div class="scorecard-dimension-values">
        <span class="scorecard-dimension-value-name">Basic Human Needs</span>
        <span class="detail--data-score detail--score-card-dimension-value"
          >96.89</span
        >
        <span class="scorecard-dimension-value">6</span>
        <span
          class="detail--score-card-dimension-value detail--score-card-dimension-value__measurer detail--measurer"
        >
        </span>
      </div>
    </div>
  </article>
  <article class="scorecard-detail">
    <div class="scorecard-dimension scorecard-dimension-bhn">
      <div class="score-card-dimension-header">
        <span class="scorecard-dimension-header-label">score/ value</span>
        <span class="scorecard-dimension-header-label">rank</span>
        <span class="scorecard-dimension-header-label">strength/ weakness</span>
      </div>
      <div class="scorecard-dimension-values">
        <span class="scorecard-dimension-value-name">Basic Human Needs</span>
        <span class="detail--data-score detail--score-card-dimension-value"
          >96.89</span
        >
        <span class="scorecard-dimension-value">6</span>
        <span
          class="detail--score-card-dimension-value detail--score-card-dimension-value__measurer detail--measurer"
        >
        </span>
      </div>
    </div>
  </article>
</section>
